:root {
    --charleston-green-v1: #2D2D2D;
    --charleston-green-v2: #2B2B2B;
    --black: #000000;
    --white: #ffffff;
    --pink-lace: #F9E6F0;
    --piggy-pink: #F6DCE9;
    --paolo-veronese-green: #009379;
    --anti-flash-white: #F3F3F3;
    /**/
    --color-main-link: var(var(--charleston-green-v1));
}
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Epilogue",sans-serif;
}
header.header{
    height: 80px;
}

.navbar{
    display: none;
}
ul.main-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;


}
.container{
    display: flex;
    align-items: center;
    margin: 26px auto;
    justify-content: space-between;
    width: 90%;
}
.logo{
    font-size: 20px;
    font-weight: 600;
}
.menu-item a{
    color:var(--charleston-green-v1);
    text-decoration:none;
}
.menu-item a:hover {
color:aquamarine;
}

@media (min-width: 0px){
    .header{
        background-color: pink;
    }
}
@media (min-width: 568px){
    .header{
        background-color: rgb(90, 80, 80);
    }
    .navbar{
        display:flex;
    }
    .menu-nav{
        display: none;
    }
}
@media (min-width: 992px){
    .header{
        background-color: rgb(255, 255, 255);
    }
}


